In [5]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

game_data = pd.read_csv("game_data.csv")
player_data = pd.read_csv("player_data.csv")
test_set = pd.read_csv("test_set.csv")
training_set = pd.read_csv("training_set.csv")

In [24]:
player_data.head()

,Season,Game_ID,Game_Date,Team,Location,Wins_Entering_Gm,Losses_Entering_Gm,Team_Minutes,Final_Score,Lead_Changes,Ties,Largest_Lead,Full_Timeouts,Short_Timeouts,Qtr_4_Score,L2M_Score
0,2016-17,21600001,10/25/2016,CLE,H,0,0,240.0,117.0,1.0,3.0,32.0,4.0,1.0,82.0,113.0
1,2016-17,21600001,10/25/2016,NYK,A,0,0,240.0,88.0,0.0,1.0,4.0,4.0,2.0,64.0,84.0
2,2016-17,21600002,10/25/2016,POR,H,0,0,240.0,113.0,6.0,6.0,13.0,5.0,0.0,77.0,104.0
3,2016-17,21600002,10/25/2016,UTA,A,0,0,240.0,104.0,5.0,1.0,8.0,5.0,2.0,83.0,102.0
4,2016-17,21600003,10/25/2016,GSW,H,0,0,240.0,100.0,1.0,2.0,4.0,3.0,1.0,77.0,100.0

In [22]:
print(test_set.shape)
test_set.head()

(460, 6)

    Season   Game_ID   Game_Date Away_Team Home_Team  Total_Viewers
0  2016-17  21600010  10/26/2016       DEN       NOP            NaN
1  2016-17  21600023  10/28/2016       HOU       DAL            NaN
2  2016-17  21600027  10/29/2016       BOS       CHA            NaN
3  2016-17  21600026  10/29/2016       ATL       PHI            NaN
4  2016-17  21600048   11/1/2016       LAL       IND            NaN

In [23]:
print(training_set.shape)
training_set.head()

(280625, 7)

    Season   Game_ID   Game_Date Away_Team Home_Team Country  Rounded Viewers
0  2016-17  21600001  10/25/2016       NYK       CLE    C113               18
1  2016-17  21600001  10/25/2016       NYK       CLE    C193                1
2  2016-17  21600001  10/25/2016       NYK       CLE    C126                4
3  2016-17  21600001  10/25/2016       NYK       CLE    C163               11
4  2016-17  21600001  10/25/2016       NYK       CLE     C73                3

In [ ]:
from sklearn.preprocessing import MultiLabelBinarizer

one_hot_encoder = MultiLabelBinarizer()
one_hot_encoder.fit_transform()